*{
  font-family: 'Indie Flower', cursive;
}

.color-white {
	color:white;
}

.titleShadow {
	text-shadow:1px 10px 6px #000000;

}

.background-image {
	background-image: 
			linear-gradient(
                         rgba(0, 0, 0, .7), 
                         rgba(0, 0, 0, .7)),
			url("http://i101.photobucket.com/albums/m76/Em_Dot/20150426_155945_zpslnis2x5s.jpg");
	background-size: cover;
	border-bottom: solid 2px;
	width:100%;
	height: 600px;
	
	background-repeat: no-repeat;

}

.background-color {
	background-color: rgba(0, 0, 255, 0.05);
	box-shadow: 0px 0.5px 12px #000000;
}

.center-text {
	text-align: center;
}

.heading-padding {
	padding-top: 150px;
}

.columnDiv {
	display: flex;
	max-width: auto;
	min-width: 900px;
	align-items: flex-start;
	justify-content: space-between;
}

.columnOne {
	margin-left: auto;
	margin-right: auto;
	flex: 1;
	order: 1;
	
}

.columnTwo {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	flex: 3;
	order: 2;
	
}

.columnTwoSocialMedia {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	flex: 3;
	order: 2;
	
		
}

.columnThree {
	flex: 1;
	order: 3;

}

.portfolio-item {
	display: inline-block;
	width: 45%;
	min-width: 45%;
} 

.social-media {
	float: left;
	padding-left: 3%;
}

#inner {
    display: flex;           
    flex-direction: row;  
    justify-content: center; 
    align-items: center; 
}

.social-media-container {
	padding-left: 41%;
	
}

body {
    margin: 0;
    padding: 0;
    min-width: 900px; 
    overflow-x: hidden;
}

div {
	padding-top: 80px;
	padding-bottom: 20px;
	margin:0;

}

h1 {
	font-size: 60px;
	letter-spacing: 3px;
	
	

}

footer {
	padding-bottom: 0;
	
	color:teal;
	


}

img {
	margin:auto;
	display: block;
	padding-bottom: 5px;
	
	
}

p {
	font-size: 18px;
}

.imageShadow {
	-moz-box-shadow: 0px 7px 8px #000000;
	-webkit-box-shadow: 0px 7px 8px #000000;
	box-shadow: 0px 7px 8px #000000;
	border:solid 2px #000000;
}
