*{
  font-family: "Abel";
}

.color-white {
	color:white;
}

.titleShadow {
	text-shadow:1px 10px 6px #000000;

}

.background-image {
	background-image: url("http://i101.photobucket.com/albums/m76/Em_Dot/20150426_155945_zpslnis2x5s.jpg");
	background-size: cover;
	
	width:100%;
	height: 600px;
	
	background-repeat: no-repeat;

}

.background-color-clear-gray {
	background-color: rgba(0, 0, 0, 0.035);
}

.center-text {
	text-align: center;
}

.heading-padding {
	padding-top: 150px;
}

.portfolio-item {
	display: inline-block;
	width: 45%;
	min-width: 45%;
} 

.social-media {
	float: left;
	padding-left: 1%;
}

.social-media-container {
	padding-left: 41%;
	
}

body {
    margin: 0;
    padding: 0;
    min-width: 900px; 
    overflow-x: hidden;
}

div {
	padding-top: 80px;
	padding-bottom: 20px;
	margin:0;

}

h1 {
	font-size: 60px;
	letter-spacing: 3px;
	
	

}

footer {
	padding-bottom: 0;
	
	color:teal;
	


}

img {
	margin:auto;
	display: block;
	padding-bottom: 5px;
	
	
}

.imageShadow {
	-moz-box-shadow: 0px 7px 8px #000000;
	-webkit-box-shadow: 0px 7px 8px #000000;
	box-shadow: 0px 7px 8px #000000;
	border:solid 2px #000000;
}
